<div class="container">
  <div class="list-content">
    <h4>Choose a user to share a list with</h4>

    <%= form_with(model: @user_list, url: share_list_list_path) do |form| %>
      <div class="list-edit-form">
        <div class="list-select">
          <%= form.select('user_id', User.all.collect {|u| [u.email, u.id] }) %>
        </div>
        <div class="list-select">
          <%= form.select :level_of_access, ['read', 'write'] %>
        </div>
        <%= form.submit class: "button btn-submit" %>
      </div>
    <% end %>

</div>

<%= console %>
