<div class="container">
  <p style="color: green"><%= notice %></p>

  <table>
    <% @lists.each do |list| %>
      <tr>
        <td>
          <% if list.avatar.attached? %>
            <%= image_tag list.avatar, width: "20px" %>
          <% else %>
            <%= image_tag("ava", size: "20x20") %>
          <% end %>
        </td>
        <td><%= list.id %></td>
        <td><%= link_to list.name, list_path(list) %></td>
        <td><%= list.items.completed.count %> / <%= list.items.count %></td>
        <td><%= list.date_formatted %></td>
      <tr>
    <% end %>
  </table>

  <%== render partial: 'pagy/nav', locals: {pagy: @pagy} %>

</div>

<%= console %>