<div class="list-container">

  <div class="list-title">
    <div class="list-top-icons">
      <div class="list-icon-back">
        <%= link_to lists_path do %>
          <%= fa_icon "undo", class: "search-panel-color" %>
        <% end %>        
      </div>
    </div>
    <h1>Find Lists</h1>    
  </div>

  <div class="list-content">
    <% if @lists.present? %>
      <% @lists.each do |list| %>
        <div class="list-index-content-row">
          <div class="list-content-part-left">
            <div class="list-index-content-left-line"></div>
            <div class="list-index-item-conteiner">
              <%= link_to list.name, list_path(list) %>
              <p><%= list.items.first.content if list.items.present? %></p>
            </div>
          </div>
          <div class="list-content-part-right">
            <div class="list-index-content-right-block">
              <div class="list-index-content-right-block-buttons">
                <%= link_to find_user_to_share_with_list_path(list) do %>
                  <%= fa_icon "share" %>
                <% end %>
              
                <%= link_to edit_list_path(list) do %>
                  <%= fa_icon "edit" %>
                <% end %>
              
                <%= button_to list_path(list), method: :delete, class: "btn-delete" do %>
                  <%= fa_icon "trash", class: "btn-delete-icon-color" %>
                <% end %>
              </div>
              <p>Todos <%= list.items.count %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>No results match your query</p>
    <% end %>
  </div>

</div>