<div class="container">
  <p style="color: green"><%= notice %></p>

  <div class="list-content">
    <div class="list-name">
      <% if @list.avatar.attached? %>
        <%= image_tag @list.avatar, width: "20px" %>
      <% else %>
        <%= image_tag("ava", size: "20x20") %>
      <% end %>
      <p>
        <%= @list.name %>
      </p>
      <div class="btns-item">
        <%= link_to "Edit", edit_list_path(@list),
                            class: "button" %>
        <%= button_to "Delete", @list, 
                                method: :delete,
                                class: "button btn-delete" %>
      </div>
    </div>
  </div>

  <table>
    <tr>
      <th></th>
      <th style="text-align: start;">Items <%=  @list.items.completed.count %>/<%= @list.items.count %></th>
    </tr>
    <% @list.items.each do |item| %>  
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.content, list_item_path(@list) %></td>
      </tr>
    <% end %>
  </table>


  <div class="list-content">
    <div class="item-content">
      <%= link_to "Add Item", new_list_item_path(@list),
                              class: "button" %>
    </div>
  </div>
</div>

<%= console %>