<div class="list-container">
  <div class="list-title">
    <div class="list-top-icons">
      <div class="list-icon-back">
        <%= link_to lists_path do %>
          <%= fa_icon "undo", class: "search-panel-color" %>
        <% end %>        
      </div>
    </div>
    <h1>Items from Daily Lists</h1>
    <div class="card-line">
      <p>Todos <%= @items.count %></p>
    </div>
  </div>
  <div class="list-content">
    <% @items.each do |item| %>
      <div class="list-content-row">
        <div class="list-content-part-left">
          <% if item.priority_high? %>
            <div class="part-priority-high"></div>
          <% elsif item.priority_low? %>
            <div class="part-priority-low"></div>
          <% else %>
            <div class="part-priority-normal"></div>
          <% end %>
          <div class="item-conteiner">
            <%= link_to item.content, list_item_path(item.list_id, item.id) %>
          </div>
        </div>
        <div class="list-content-part-right">
          <div class="list-show-item-content-block-buttons">
            <%= link_to edit_list_item_path(item.list_id, item.id) do %>
              <%= fa_icon "edit" %>
            <% end %>
          
            <%= button_to list_item_path(item.list_id, item.id), method: :delete, class: "list-show-btn-delete", data: { confirm: "Are you sure?" }  do %>
              <%= fa_icon "trash", class: "btn-delete-icon-color" %>
            <% end %>
          </div>

          <div class="part-completed">
            <% if item.completed? %>
              <%= link_to incomplete_list_item_path(item.list_id, item.id) do %>
                <div class="item-icon-completed">
                  <%= fa_icon "chevron-circle-down", class: "item-icon-completed-color" %>
                </div>
              <% end %>
            <% else %>
              <%= link_to complete_list_item_path(item.list_id, item.id) do %>
                <div class="item-icon-incompleted"></div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>