<div class="container">
  <p style="color: green"><%= notice %></p>

  <%= link_to 'Back to Lists', users_lists_path %>

  <div class="list-content">
    <div class="list-name">
      <% if @list.avatar.attached? %>
        <%= image_tag @list.avatar, width: "20px" %>
      <% else %>
        <%= image_tag("ava.jpeg", size: "20x20") %>
      <% end %>
      <p>
        <%= @list.name %>
      </p>
      <div class="btns-item">
        <%= link_to "Edit", edit_users_list_path(@list),
                            class: "button" %>
        <%= button_to "Delete", users_list_path(@list), 
                                method: :delete,
                                class: "button btn-delete" %>
        <%= link_to "Share List", find_user_to_share_with_users_list_path(@list),
                                  class: "button" %>        
      </div>
    </div>
  </div>

  <table style="margin: 20px;">
    <tr>
      <th></th>
      <th></th>
      <th style="text-align: start;">Items <%=  @list.items.completed.count %>/<%= @list.items.count %></th>
      <th style="text-align: start;">Priority</th>
      <th>
        <%= link_to search_users_list_items_path(@list), class: "list-search-button" do %>
          Search Items <%= fa_icon "search", class: "list-search-icon" %>
        <% end %>
      </th>
    </tr>
    <% @list.items.each do |item| %>  
      <tr>
        <td>
          <% if item.completed? %>
            <%= link_to incomplete_users_list_item_path(@list, item.id) do %>
              <%= fa_icon "chevron-circle-down", class: "item-icon-completed" %>
            <% end %>
          <% else %>
            <%= link_to complete_users_list_item_path(@list, item.id) do %>
              <%= fa_icon "circle", class: "item-icon-incompleted" %>
            <% end %> 
          <% end %>
        </td>
        <td>
          <% if item.images.attached? %>
            <%= link_to users_list_item_path(@list, item.id) do %>
              <%= fa_icon "paperclip", class: "item-icon-completed" %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if item.completed? %>
            <div class="item-completed">
              <%= link_to item.content, users_list_item_path(@list, item.id) %>
            </div>
          <% else %>
            <div class="item-incompleted">
              <%= link_to item.content, users_list_item_path(@list, item.id) %>
            </div>
          <% end %>
        </td>
        <td>
          <% if item.priority_high? %>
            <%= fa_icon "square", class: "item-priority-high" %>
          <% elsif item.priority_low? %>
            <%= fa_icon "square", class: "item-priority-low" %>
          <% else %>
            <%= fa_icon "square", class: "item-priority-middle" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="list-content">
    <div class="item-content">
      <%= link_to "Add Item", new_users_list_item_path(@list),
                              class: "button" %>
    </div>
  </div>
</div>

<%= console %>