<div class="container">
  <%= link_to 'Back to Panel', admin_admin_path %>

  <div class="list-content">
    <table>
      <tr>
        <th></th>
        <th></th>
        <th>Lists</th>
        <th>Items</th>
        <th></th>
        <th>
          <%= link_to search_admin_lists_path, class: "list-search-button" do %>
            Search List <%= fa_icon "search", class: "list-search-icon" %>
          <% end %>
        </th>
      </tr>
      <% @lists.each do |list| %>
        <tr>
          <td>
            <% if list.avatar.attached? %>
              <%= image_tag list.avatar, width: "20px" %>
            <% else %>
              <%= image_tag("ava.jpeg", size: "20x20") %>
            <% end %>
          </td>
          <td>
            <div class="list-table-cell">
              <% if list.completed? %>
                <%= fa_icon "chevron-circle-down", class: "item-icon-completed" %>
              <% end %>
            </div>
          </td>
          <td>
            <% if list.completed? %>
              <div class="list-completed">
                <%= link_to list.name, admin_list_path(list) %>
              </div>
            <% else %>
              <div class="list-incompleted">
                <%= link_to list.name, admin_list_path(list) %>
              </div>
            <% end %>
          </td>
          <td>
            <div class="list-table-cell"> <%= list.items.completed.count %> / <%= list.items.count %> </div>
          </td>
          <td>
            <div class="list-table-cell"> <%= list.date_formatted %> </div>
          </td>
        <tr>
      <% end %>
    </table>
  </div>
  <div class="list-content">
    <div class="item-content">
      <%= link_to "Add List", new_admin_list_path,
                              class: "button" %>
    </div>
  </div>
</div>
