<div class="container">
  <div class="form-item">
    <h1>Editing item</h1>

    <%= form_with(model: [@list, @item], url: admin_list_item_path) do |form| %>
      <div class="item-form">
        <input type="hidden" name="item[list_id]" value="<%= params[:list_id] %>">
        <%= form.text_field :content, class: "item-input" %>
        <%= form.select( :priority, ["low", "medium", "high"], { selected: "medium" }, { class: "item-input" } ) %>
        <%= form.file_field :images, multiple: true, class: "item-input" %>
        <%= form.submit class: "button btn-submit" %>
      </div>
    <% end %>
  </div>
</div>
