<div class="container">
  <p style="color: green"><%= notice %></p>

  <table>
    <tr>
      <th>ID</th>
      <th>e-mail</th>
      <th>Admin</th>
      <th>Lists</th>
      <th>Actions</th>
    <tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
        <td><%= user.lists.count %></td>
        <td>
          <div class="users-button">
            <%= link_to 'Edit', edit_user_path(user.id) %> | 
            <%= button_to 'Delete', user_path(user.id), method: :delete,
                                                        class: "user-button-delete" %>
          </div>
        </td>
      <tr>
    <% end %>
  </table>

  <div class="users-pagy">
    <%== render partial: 'pagy/nav', locals: {pagy: @pagy} %>
  </div>
</div>

<%= console %>