<div class="container">
  <p style="color: green"><%= notice %></p>

  <table>
    <tr>
      <td>ID</td>
      <td>e-mail</td>
      <td>Role</td>
      <td>Lists</td>
    <tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
        <td><%= user.lists.count %></td>
      <tr>
    <% end %>
  </table>

  <%== render partial: 'pagy/nav', locals: {pagy: @pagy} %>

</div>

<%= console %>