<nav class="nav">
  <div class="part-left">
    <% if user_signed_in? %>
      <%= link_to 'Todo List', lists_path %>
      <%= link_to 'New List', new_list_path %>
      <% if user_signed_in? && current_user.admin %>
        <%= link_to "Users", users_path %>
      <% end %>
      <%= link_to "Log out", destroy_user_session_path %>
    <% elsif admin_signed_in? %>
      <%= link_to 'Todo List', lists_path %>
      <%= link_to "Log out", destroy_admin_session_path %>
    <% else %>
      <%= link_to "Log in", user_session_path %>
    <% end %>
  </div>
  <div class="part-right">
    <form action="/search">
      <input type="text" name="query" />
      <button type="Submit">Search</button>
    </form>
  </div>
</nav>