<div class="container">
  <p style="color: green"><%= notice %></p>

  <div class="item-content">
    <%= render @item %>
  </div>

  <div class="item-gallery">
    <% if @item.images.attached? %>
      <% @item.images.each do |image| %>
        <%= image_tag image, width: "100px" %>
      <% end %>
    <% end %>
  </div>

  <div class="btns-item">
    <%= link_to "Edit", edit_admins_list_item_path(@item.list_id, @item.id),
                        class: "button" %>
    <%= button_to "Delete", admins_list_item_path(@item.list_id, @item.id), 
                            method: :delete,
                            class: "button btn-delete" %>
  </div>
</div>