<div class="container">
  <%= link_to 'Back to List', list_path(@list) %>
  <h4><%= @list.name %></h4>
  <div class="list-content">
    <div class="list-name">
      <table style="margin: 10px;">
        <tr>
          <th></th>
          <th></th>
          <th style="text-align: start;">Items</th>
          <th style="text-align: start;">Priority</th>
          <th></th>
        </tr>
        <% @items.each do |item| %>
          <tr>
            <td>
              <% if item.completed? %>
                <%= link_to incomplete_list_item_path(@list, item.id) do %>
                  <%= fa_icon "chevron-circle-down", class: "item-icon-completed" %>
                <% end %>
              <% else %>
                <%= link_to complete_list_item_path(@list, item.id) do %>
                  <%= fa_icon "circle", class: "item-icon-incompleted" %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% if item.images.attached? %>
                <%= link_to list_item_path(@list, item.id) do %>
                  <%= fa_icon "paperclip", class: "item-icon-completed" %>
                <% end %>
              <% end %>
            </td>
            <td>
              <div style="margin-inline: 20px;">
                <% if item.completed? %>
                  <div class="item-completed">
                    <%= link_to item.content, list_item_path(@list, item.id) %>
                  </div>
                <% else %>
                  <div class="item-incompleted">
                    <%= link_to item.content, list_item_path(@list, item.id) %>
                  </div>
                <% end %>
              </div>
            </td>
            <td>
              <% if item.priority_high? %>
                <%= fa_icon "square", class: "item-priority-high" %>
              <% elsif item.priority_low? %>
                <%= fa_icon "square", class: "item-priority-low" %>
              <% else %>
                <%= fa_icon "square", class: "item-priority-middle" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
