<div class="container">
  <p style="color: green"><%= notice %></p>

  <div class="item-content">
    <%= render @item %>
  </div>

  <div class="btns-item">
    <%= link_to "Edit", edit_list_item_path(@item),
                        class: "button" %>
    <%= button_to "Delete", list_item_path(@item), 
                            method: :delete,
                            class: "button btn-delete" %>
  </div>
</div>

<%= console %>
