<div class="container">
  <div class="list-content">
    <h1>New list</h1>

    <%= form_with(model: @list, url: users_lists_path) do |form| %>
      <% if @list.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

          <ul>
            <% @list.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="list-edit-form">
        <%= form.text_field :name, class: "list-input", placeholder: "List Title" %>
        <%= form.file_field :avatar, class: "list-input" %>
        <%= form.submit class: "button btn-submit" %>
      </div>
    <% end %>

  </div>
</div>

<%= console %>