<div class="container">
  <div class="user-edit-section">
    <h1>Edit User</h1>

    <%= form_with(model: @user, url: admin_user_path) do |form| %>
      <div class="user-edit-form">
        <%= form.text_field :email %><br><br>
        <%= form.check_box(:admin, {}, true) %>
        <%= form.label(:admin, "Admin") %><br><br>
        <%= form.submit class: "user-edit-submit-input" %>
    <% end %>

  </div>
</div>
